
**/node_modules/

**/android/app/build/
**/android/build/
**/android/.gradle/
**/android/.cxx/
**/android/app/.cxx/
**/android/local.properties


**/ios/Pods/
**/ios/build/


**/.expo/
**/.expo-shared/
**/web-build/


.metro-health-check*
**/metro-cache/


**/__pycache__/
**/*.pyc
**/*.pyo
**/db.sqlite3
**/staticfiles/
**/static/


**/.vscode/
**/.idea/
**/*.swp
**/*.swo

**/.DS_Store
**/Thumbs.db


**/*.log
**/npm-debug.log*
